<div>
  <div>
    <h1>
      Question #<%= @the_question.id %> details
    </h1>

    <div>
      <div>
        <a href="/questions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_question/<%= @the_question.id %>">
          Delete question
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Topic
      </dt>
      <dd>
        <%= @the_question.topic_id %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @the_question.body %>
      </dd>

      <dt>
        Role
      </dt>
      <dd>
        <%= @the_question.role %>
      </dd>

      <dt>
        Authenticity
      </dt>
      <dd>
        <%= @the_question.authenticity %>
      </dd>

      <dt>
        Answer
      </dt>
      <dd>
        <%= @the_question.answer %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_question.user_id %>
      </dd>

      <dt>
        Interview
      </dt>
      <dd>
        <%= @the_question.interview_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_question.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_question.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit question
    </h2>

    <form action="/modify_question/<%= @the_question.id %>"  method="post" >
      <div>
        <label for="topic_id_box">
          Topic
        </label>

        <input type="text" id="topic_id_box" name="query_topic_id" value="<%= @the_question.topic_id %>">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body" value="<%= @the_question.body %>">
      </div>

      <div>
        <label for="role_box">
          Role
        </label>

        <input type="text" id="role_box" name="query_role" value="<%= @the_question.role %>">
      </div>

      <div>
        <label for="authenticity_box">
          Authenticity
        </label>

        <input type="text" id="authenticity_box" name="query_authenticity" value="<%= @the_question.authenticity %>">
      </div>

      <div>
        <label for="answer_box">
          Answer
        </label>

        <input type="text" id="answer_box" name="query_answer" value="<%= @the_question.answer %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_question.user_id %>">
      </div>

      <div>
        <label for="interview_id_box">
          Interview
        </label>

        <input type="text" id="interview_id_box" name="query_interview_id" value="<%= @the_question.interview_id %>">
      </div>

      <button>
        Update question
      </button>
    </form>
  </div>
</div>

<hr>
