<div>
  <div>
    <h1>
      All Interviews
    </h1>
  </div>
</div>

<hr>

<div>
  <h2>Filter Interviews</h2>
  <form method="get" action="/interviews">
    <div>
      <label for="filter_company">Company</label>
      <select id="filter_company" name="filter_company">
        <option value="" <%= "selected" if params[:filter_company].blank? %>>All</option>
        <% @companies.each do |company| %>
          <option value="<%= company %>" <%= "selected" if params[:filter_company] == company %>><%= company %></option>
        <% end %>
      </select>
    </div>

    <div>
      <label for="filter_type">Interview type</label>
      <select id="filter_type" name="filter_type">
        <option value="" <%= "selected" if params[:filter_type].blank? %>>All</option>
        <% @types.each do |type| %>
          <option value="<%= type %>" <%= "selected" if params[:filter_type] == type %>><%= type %></option>
        <% end %>
      </select>
    </div>

    <div>
      <label for="filter_division">Division</label>
      <select id="filter_division" name="filter_division">
        <option value="" <%= "selected" if params[:filter_division].blank? %>>All</option>
        <% @divisions.each do |division| %>
          <option value="<%= division %>" <%= "selected" if params[:filter_division] == division %>><%= division %></option>
        <% end %>
      </select>
    </div>

    <div>
      <button type="submit">Apply Filters</button>
      <a href="/interviews" class="clear-filters-button">Clear Filters</a>
    </div>
  </form>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new interview
    </h2>
<% if current_user != nil %>
    <form action="/insert_interview" method="post">
      <div>
        <label for="company_box">
          Company
        </label>

        <input type="text" id="company_box" name="query_company">
      </div>

      <div>
        <label for="interview_type_box">
          Interview type
        </label>

        <select id="interview_type_box" name="query_interview_type">
          <option value="Behavioral">Behavioral</option>
          <option value="Case">Case</option>
        </select>
      </div>

      <div>
        <label for="term_offered_box">
          Term offered
        </label>

        <input type="text" id="term_offered_box" name="query_term_offered">
      </div>

      <div>
        <label for="division_box">
          Division
        </label>

        <input type="text" id="division_box" name="query_division">
      </div>

      <div>
        <label for="description_box">
          Role Title
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <button>
        Create interview
      </button>
    </form>
<% else %>
  <p>You must be <a href="/users/sign_in">signed in</a> to add an interview.</p>
<% end %>
  </div>
</div>

<hr>
<% if current_user != nil %>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Company
        </th>

        <th>
          Interview type
        </th>

        <th>
          Term offered
        </th>

        <th>
          Division
        </th>

        <th>
          Role Title
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_interviews.each do |an_interview| %>
      <tr>
        <td>
          <%= an_interview.id %>
        </td>

        <td>
          <%= an_interview.company %>
        </td>

        <td>
          <%= an_interview.interview_type %>
        </td>

        <td>
          <%= an_interview.term_offered %>
        </td>

        <td>
          <%= an_interview.division %>
        </td>

        <td>
          <%= an_interview.description %>
        </td>

        <td>
          <%= time_ago_in_words(an_interview.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_interview.updated_at) %> ago
        </td>

        <td>
          <a href="/interviews/<%= an_interview.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<% else %>
 
<% end %>
