<div class="container mt-4">
  <div>
    <h1 class="text-center mb-4">List of all topics</h1>
  </div>
</div>

<hr>

<div class="container mb-4">
  <div>
    <h2>Add a new topic</h2>
    <form action="/insert_topic" method="post">
      <div class="mb-3">
        <label for="course_id_box" class="form-label">Course</label>
        <input type="text" id="course_id_box" name="query_course_id" class="form-control">
      </div>

      <div class="mb-3">
        <label for="title_box" class="form-label">Title</label>
        <input type="text" id="title_box" name="query_title" class="form-control">
      </div>

      <button class="btn btn-success">Create topic</button>
    </form>
  </div>
</div>

<hr>

<div class="container mb-4">
  <div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Course</th>
          <th>Title</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @list_of_topics.each do |a_topic| %>
        <tr>
          <td><%= a_topic.id %></td>
          <td><%= a_topic.course_id %></td>
          <td><%= a_topic.title %></td>
          <td><%= time_ago_in_words(a_topic.created_at) %> ago</td>
          <td><%= time_ago_in_words(a_topic.updated_at) %> ago</td>
          <td>
            <a href="/topics/<%= a_topic.id %>" class="btn btn-info btn-sm">Show details</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
