<div>
  <div>
    <h1>
      All Courses
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>Filters</h2>
    <form action="/courses" method="get">
      <!-- Course Name Filter -->
      <div>
        <label for="filter_course_name">Course Name</label>
        <select id="filter_course_name" name="filter_course_name">
          <option value="">All</option>
          <% @course_names.each do |course_name| %>
            <option value="<%= course_name %>" <%= "selected" if params[:filter_course_name] == course_name %>>
              <%= course_name %>
            </option>
          <% end %>
        </select>
      </div>

      <!-- Term Offered Filter -->
      <div>
        <label for="filter_term_offered">Term Offered</label>
        <select id="filter_term_offered" name="filter_term_offered">
          <option value="">All</option>
          <% @terms.each do |term| %>
            <option value="<%= term %>" <%= "selected" if params[:filter_term_offered] == term %>>
              <%= term %>
            </option>
          <% end %>
        </select>
      </div>

      <!-- Professor Filter -->
      <div>
        <label for="filter_professor">Professor</label>
        <select id="filter_professor" name="filter_professor">
          <option value="">All</option>
          <% @professors.each do |professor| %>
            <option value="<%= professor %>" <%= "selected" if params[:filter_professor] == professor %>>
              <%= professor %>
            </option>
          <% end %>
        </select>
      </div>

      <button type="submit">Apply Filters</button>
      <a href="/courses">Clear Filters</a>
    </form>
  </div>
</div>


<div>
  <div>
    <h2>
      Add a new course
    </h2>
<% if current_user != nil %>
    <form action="/insert_course" method="post">
      <div>
        <label for="course_name_box">
          Course name
        </label>

        <input type="text" id="course_name_box" name="query_course_name">
      </div>

      <div>
        <label for="term_offered_box">
          Term offered
        </label>

        <input type="text" id="term_offered_box" name="query_term_offered">
      </div>

      <div>
        <label for="description_box">
          Professor
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <button>
        Create course
      </button>
    </form>
<% else %>
  <p>You must be <a href="/users/sign_in">signed in</a> to add a course.</p>
<% end %>
  </div>
</div>



<hr>
<% if current_user != nil %>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Course name
        </th>

        <th>
          Term offered
        </th>

        <th>
          Professor
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_courses.each do |a_course| %>
      <tr>
        <td>
          <%= a_course.id %>
        </td>

        <td>
          <%= a_course.course_name %>
        </td>

        <td>
          <%= a_course.term_offered %>
        </td>

        <td>
          <%= a_course.description %>
        </td>

        <td>
          <%= time_ago_in_words(a_course.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_course.updated_at) %> ago
        </td>

        <td>
          <a href="/courses/<%= a_course.id %>">
            Show Topics
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<% else %>
 
<% end %>
