<div>
  <div>
    <h1>
      <%= @the_course.course_name %> Topics
    </h1>

    <div>
      <div>
        <a href="/courses">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_course/<%= @the_course.id %>">
          Delete course
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Course name
      </dt>
      <dd>
        <%= @the_course.course_name %>
      </dd>

      <dt>
        Term offered
      </dt>
      <dd>
        <%= @the_course.term_offered %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_course.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_course.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_course.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit course
    </h2>

    <form action="/modify_course/<%= @the_course.id %>"  method="post" >
      <div>
        <label for="course_name_box">
          Course name
        </label>

        <input type="text" id="course_name_box" name="query_course_name" value="<%= @the_course.course_name %>">
      </div>

      <div>
        <label for="term_offered_box">
          Term offered
        </label>

        <input type="text" id="term_offered_box" name="query_term_offered" value="<%= @the_course.term_offered %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_course.description %>">
      </div>

      <button>
        Update course
      </button>
    </form>
  </div>
</div>

<hr>

<h2>Topics</h2>

<div>
  <div>
    <h2>
      Add a new topic
    </h2>

    <form action="/insert_topic" method="post">
      <div>
        <input type="hidden" id="course_id_box" name="query_course_id" value="<%= @the_course.id %>" readonly>
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <button>
        Create topic
      </button>
    </form>
  </div>
</div>

<ul>
  <% Topic.where({ :course_id => @the_course.id }).each do |topic| %>
    <li>
      <a href="/topics/<%= topic.id %>">
        <%= topic.title %>
      </a>
    </li>
  <% end %>
</ul>
